body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .main-container {
        flex-direction: column !important;
        align-items: center !important;
        width: inherit !important;
    }
    .service-container {
        width: 100% !important;
    }
    .laptop-box {
        flex-direction: column !important;
    }
    .navbar {
        padding-left: 0 !important;
        text-align: center;
    }
}

.navbar {
    background-color: #323c3d;
    font-size: 2rem;
    margin: 0;
    padding-left: 5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #fff;
}

.main-container {
    display: flex;
    margin: 3rem 5rem;
    gap: 2.5rem;
    flex-direction: row;
    align-items: stretch;
}

.service-container {
    width: 33%;
    padding: 1rem;
    box-shadow: 0 0 0.75rem #00000033;
    border-radius: 0.25rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
}

.amount {
    display: flex;
    flex-direction: row
}

.get-loan-btn {
    width: 100%;
    background-color: #5ff57b;
    border: 1px solid #000;
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 1rem;
}

.work-btn {
    background-color: #5f89f5;
    border: 1px solid #000;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
}

.bank-btn {
    background-color: #f5f05f;
    border: 1px solid #000;
    padding: 0.5rem 0.75rem;
    border-radius: 0.25rem;
    width: 100%;
}

.laptop-dropdown {
    padding: 0.25rem;
}

.laptop-features {
    margin-top: 1.5rem;
}

.laptop-features ul {
    font-size: 0.8rem;
    padding-inline-start: 1rem;
    list-style-type: circle;
}

.laptop-box {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 10rem;
    padding: 1rem;
    width: 100%;
    background-color: #f5f7f6;
    border: 1px solid #e3e2de;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.laptop-price-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.laptop-price {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

.laptop-buy-btn {
    background-color: #6efff5;
    padding: 0.5rem;
    font-weight: 700;
    width: 100%;
    border: 1px solid #000;
    border-radius: 0.25rem;
}

.laptop-photo {
    height: 12rem;
}